<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seamwhole.servicefarmplan.mapper.GrowExpendMapper" >
  <resultMap id="BaseResultMap" type="com.seamwhole.servicefarmplan.model.GrowExpend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="day_count" property="dayCount" jdbcType="INTEGER" />
    <result column="expend_detail" property="expendDetail" jdbcType="VARCHAR" />
    <result column="weight_" property="weight" jdbcType="REAL" />
    <result column="add_weight" property="addWeight" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, product_id, day_count, expend_detail, weight_, add_weight
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.seamwhole.servicefarmplan.model.GrowExpendExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from at_grow_expend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from at_grow_expend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from at_grow_expend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.seamwhole.servicefarmplan.model.GrowExpendExample" >
    delete from at_grow_expend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.seamwhole.servicefarmplan.model.GrowExpend" >
    insert into at_grow_expend (id, product_id, day_count, 
      expend_detail, weight_, add_weight
      )
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{dayCount,jdbcType=INTEGER}, 
      #{expendDetail,jdbcType=VARCHAR}, #{weight,jdbcType=REAL}, #{addWeight,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.seamwhole.servicefarmplan.model.GrowExpend" >
    insert into at_grow_expend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="dayCount != null" >
        day_count,
      </if>
      <if test="expendDetail != null" >
        expend_detail,
      </if>
      <if test="weight != null" >
        weight_,
      </if>
      <if test="addWeight != null" >
        add_weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="dayCount != null" >
        #{dayCount,jdbcType=INTEGER},
      </if>
      <if test="expendDetail != null" >
        #{expendDetail,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=REAL},
      </if>
      <if test="addWeight != null" >
        #{addWeight,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.seamwhole.servicefarmplan.model.GrowExpendExample" resultType="java.lang.Integer" >
    select count(*) from at_grow_expend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update at_grow_expend
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.dayCount != null" >
        day_count = #{record.dayCount,jdbcType=INTEGER},
      </if>
      <if test="record.expendDetail != null" >
        expend_detail = #{record.expendDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null" >
        weight_ = #{record.weight,jdbcType=REAL},
      </if>
      <if test="record.addWeight != null" >
        add_weight = #{record.addWeight,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update at_grow_expend
    set id = #{record.id,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=INTEGER},
      day_count = #{record.dayCount,jdbcType=INTEGER},
      expend_detail = #{record.expendDetail,jdbcType=VARCHAR},
      weight_ = #{record.weight,jdbcType=REAL},
      add_weight = #{record.addWeight,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.seamwhole.servicefarmplan.model.GrowExpend" >
    update at_grow_expend
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="dayCount != null" >
        day_count = #{dayCount,jdbcType=INTEGER},
      </if>
      <if test="expendDetail != null" >
        expend_detail = #{expendDetail,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight_ = #{weight,jdbcType=REAL},
      </if>
      <if test="addWeight != null" >
        add_weight = #{addWeight,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seamwhole.servicefarmplan.model.GrowExpend" >
    update at_grow_expend
    set product_id = #{productId,jdbcType=INTEGER},
      day_count = #{dayCount,jdbcType=INTEGER},
      expend_detail = #{expendDetail,jdbcType=VARCHAR},
      weight_ = #{weight,jdbcType=REAL},
      add_weight = #{addWeight,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>