<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seamwhole.servicefarmplan.mapper.PlanRequirementsItemMapper" >
  <resultMap id="BaseResultMap" type="com.seamwhole.servicefarmplan.model.PlanRequirementsItem" >
    <id column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="plan_id" property="planId" jdbcType="VARCHAR" />
    <result column="feed_id" property="feedId" jdbcType="INTEGER" />
    <result column="weight_" property="weight" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    item_id, plan_id, feed_id, weight_
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.seamwhole.servicefarmplan.model.PlanRequirementsItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from at_plan_requirements_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from at_plan_requirements_item
    where item_id = #{itemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from at_plan_requirements_item
    where item_id = #{itemId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.seamwhole.servicefarmplan.model.PlanRequirementsItemExample" >
    delete from at_plan_requirements_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.seamwhole.servicefarmplan.model.PlanRequirementsItem" >
    insert into at_plan_requirements_item (item_id, plan_id, feed_id, 
      weight_)
    values (#{itemId,jdbcType=VARCHAR}, #{planId,jdbcType=VARCHAR}, #{feedId,jdbcType=INTEGER}, 
      #{weight,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.seamwhole.servicefarmplan.model.PlanRequirementsItem" >
    insert into at_plan_requirements_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="planId != null" >
        plan_id,
      </if>
      <if test="feedId != null" >
        feed_id,
      </if>
      <if test="weight != null" >
        weight_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="feedId != null" >
        #{feedId,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.seamwhole.servicefarmplan.model.PlanRequirementsItemExample" resultType="java.lang.Integer" >
    select count(*) from at_plan_requirements_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update at_plan_requirements_item
    <set >
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.planId != null" >
        plan_id = #{record.planId,jdbcType=VARCHAR},
      </if>
      <if test="record.feedId != null" >
        feed_id = #{record.feedId,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null" >
        weight_ = #{record.weight,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update at_plan_requirements_item
    set item_id = #{record.itemId,jdbcType=VARCHAR},
      plan_id = #{record.planId,jdbcType=VARCHAR},
      feed_id = #{record.feedId,jdbcType=INTEGER},
      weight_ = #{record.weight,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.seamwhole.servicefarmplan.model.PlanRequirementsItem" >
    update at_plan_requirements_item
    <set >
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=VARCHAR},
      </if>
      <if test="feedId != null" >
        feed_id = #{feedId,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        weight_ = #{weight,jdbcType=REAL},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seamwhole.servicefarmplan.model.PlanRequirementsItem" >
    update at_plan_requirements_item
    set plan_id = #{planId,jdbcType=VARCHAR},
      feed_id = #{feedId,jdbcType=INTEGER},
      weight_ = #{weight,jdbcType=REAL}
    where item_id = #{itemId,jdbcType=VARCHAR}
  </update>
</mapper>