<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seamwhole.servicetradecore.mapper.ext.ShopCommentExtMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.seamwhole.servicetradecore.mapper.model.ShopCommentDO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="type_id" property="typeId" jdbcType="INTEGER" />
        <result column="value_id" property="valueId" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="add_time" property="addTime" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="value_name" property="valueName" jdbcType="VARCHAR" />
    </resultMap>


    <select id="queryList" resultMap="BaseResultMap">
        select distinct c.* from ishop_comment c
        <if test="hasPic != null and hasPic == 1">
            left join ishop_comment_picture cp on cp.comment_id = c.id
        </if>
        where 1 = 1
        <if test="typeId != null and typeId != ''">
            and c.type_id = #{typeId}
        </if>
        <if test="valueId != null and valueId != ''">
            and c.value_id = #{valueId}
        </if>
        <if test="goodsId != null and goodsId != ''">
            and c.value_id = #{goodsId}
        </if>
        <if test="userId != null and userId != ''">
            and c.user_id = #{userId}
        </if>
        <if test="hasPic != null and hasPic == 1">
            and cp.id is not null
        </if>
        <choose>
            <when test="order != null and order.trim() != ''">
                order by ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>

    <select id="queryTotal" resultType="int">
        select count(c.id) from ishop_comment c
        where 1= 1
        <if test="typeId != null and typeId != ''">
            and c.type_id = #{typeId}
        </if>
        <if test="valueId != null and valueId != ''">
            and c.value_id = #{valueId}
        </if>
        <if test="goodsId != null and goodsId != ''">
            and c.value_id = #{goodsId}
        </if>
    </select>

    <select id="queryHasPicTotal" resultType="int">
        select count(distinct c.id) from ishop_comment c
        left join ishop_comment_picture cp on cp.comment_id = c.id
        where 1= 1 and cp.id > 0
        <if test="typeId != null and typeId != ''">
            and c.type_id = #{typeId}
        </if>
        <if test="valueId != null and valueId != ''">
            and c.value_id = #{valueId}
        </if>
    </select>

    <select id="queryShopCommentList" resultMap="BaseResultMap">
        select
        ishop_comment.id,
        ishop_comment.type_id,
        ishop_comment.value_id,
        ishop_comment.content,
        ishop_comment.add_time,
        ishop_comment.status,
        ishop_comment.user_id,
        ishop_user.username user_name,
        ishop_goods.name value_name
        from ishop_comment LEFT JOIN ishop_user ON ishop_comment.user_id = ishop_user.id
        LEFT JOIN ishop_goods ON ishop_comment.value_id = ishop_goods.id
        WHERE 1=1
        <if test="userName != null and userName.trim() != ''">
            AND ishop_user.username LIKE concat('%',#{userName},'%')
        </if>
        <if test="valueName != null and valueName.trim() != ''">
            AND ishop_goods.name LIKE concat('%',#{valueName},'%')
        </if>
        <if test="status != null">
            AND ishop_comment.status = #{status}
        </if>
        <if test="picUrl == 'true'">
            AND EXISTS(SELECT 1 FROM ishop_comment_picture WHERE ishop_comment.id = ishop_comment_picture.comment_id)
        </if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by ishop_comment.id desc
            </otherwise>
        </choose>
    </select>

    <select id="queryShopCommentTotal" resultType="int">
        select count(*) from ishop_comment LEFT JOIN ishop_user ON ishop_comment.user_id = ishop_user.id
        LEFT JOIN ishop_goods ON ishop_comment.value_id = ishop_goods.id
        WHERE 1=1
        <if test="userName != null and userName.trim() != ''">
            AND ishop_user.username LIKE concat('%',#{userName},'%')
        </if>
        <if test="valueName != null and valueName.trim() != ''">
            AND ishop_goods.name LIKE concat('%',#{valueName},'%')
        </if>
        <if test="status != null">
            AND ishop_comment.status = #{status}
        </if>
        <if test="picUrl == 'true'">
            AND EXISTS(SELECT 1 FROM ishop_comment_picture WHERE ishop_comment.id = ishop_comment_picture.comment_id)
        </if>
    </select>
</mapper>