<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seamwhole.servicetradecore.mapper.ext.GoodsExtMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.seamwhole.servicetradecore.mapper.model.GoodsDO" id="goodsMap">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="category_id" property="categoryId" jdbcType="INTEGER" />
        <result column="goods_sn" property="goodsSn" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="brand_id" property="brandId" jdbcType="INTEGER" />
        <result column="goods_number" property="goodsNumber" jdbcType="INTEGER" />
        <result column="keywords" property="keywords" jdbcType="VARCHAR" />
        <result column="goods_brief" property="goodsBrief" jdbcType="VARCHAR" />
        <result column="is_on_sale" property="isOnSale" jdbcType="INTEGER" />
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
        <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
        <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
        <result column="attribute_category" property="attributeCategory" jdbcType="INTEGER" />
        <result column="counter_price" property="counterPrice" jdbcType="DECIMAL" />
        <result column="extra_price" property="extraPrice" jdbcType="DECIMAL" />
        <result column="is_new" property="isNew" jdbcType="INTEGER" />
        <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
        <result column="primary_pic_url" property="primaryPicUrl" jdbcType="VARCHAR" />
        <result column="list_pic_url" property="listPicUrl" jdbcType="VARCHAR" />
        <result column="retail_price" property="retailPrice" jdbcType="DECIMAL" />
        <result column="sell_volume" property="sellVolume" jdbcType="INTEGER" />
        <result column="primary_product_id" property="primaryProductId" jdbcType="INTEGER" />
        <result column="unit_price" property="unitPrice" jdbcType="DECIMAL" />
        <result column="promotion_desc" property="promotionDesc" jdbcType="VARCHAR" />
        <result column="promotion_tag" property="promotionTag" jdbcType="VARCHAR" />
        <result column="app_exclusive_price" property="appExclusivePrice" jdbcType="DECIMAL" />
        <result column="is_app_exclusive" property="isAppExclusive" jdbcType="INTEGER" />
        <result column="is_limited" property="isLimited" jdbcType="INTEGER" />
        <result column="is_hot" property="isHot" jdbcType="INTEGER" />
        <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
        <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_user_dept_id" property="createUserDeptId" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="INTEGER" />
        <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    </resultMap>

    <resultMap id="BaseResultMap" type="com.seamwhole.servicetradecore.mapper.model.ShopGoodsDO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="category_id" property="categoryId" jdbcType="INTEGER" />
        <result column="goods_sn" property="goodsSn" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="brand_id" property="brandId" jdbcType="INTEGER" />
        <result column="goods_number" property="goodsNumber" jdbcType="INTEGER" />
        <result column="keywords" property="keywords" jdbcType="VARCHAR" />
        <result column="goods_brief" property="goodsBrief" jdbcType="VARCHAR" />
        <result column="is_on_sale" property="isOnSale" jdbcType="INTEGER" />
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
        <result column="sort_order" property="sortOrder" jdbcType="INTEGER" />
        <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
        <result column="attribute_category" property="attributeCategory" jdbcType="INTEGER" />
        <result column="counter_price" property="counterPrice" jdbcType="DECIMAL" />
        <result column="extra_price" property="extraPrice" jdbcType="DECIMAL" />
        <result column="is_new" property="isNew" jdbcType="INTEGER" />
        <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
        <result column="primary_pic_url" property="primaryPicUrl" jdbcType="VARCHAR" />
        <result column="list_pic_url" property="listPicUrl" jdbcType="VARCHAR" />
        <result column="retail_price" property="retailPrice" jdbcType="DECIMAL" />
        <result column="sell_volume" property="sellVolume" jdbcType="INTEGER" />
        <result column="primary_product_id" property="primaryProductId" jdbcType="INTEGER" />
        <result column="unit_price" property="unitPrice" jdbcType="DECIMAL" />
        <result column="promotion_desc" property="promotionDesc" jdbcType="VARCHAR" />
        <result column="promotion_tag" property="promotionTag" jdbcType="VARCHAR" />
        <result column="app_exclusive_price" property="appExclusivePrice" jdbcType="DECIMAL" />
        <result column="is_app_exclusive" property="isAppExclusive" jdbcType="INTEGER" />
        <result column="is_limited" property="isLimited" jdbcType="INTEGER" />
        <result column="is_hot" property="isHot" jdbcType="INTEGER" />
        <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
        <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_user_dept_id" property="createUserDeptId" jdbcType="BIGINT" />
        <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
        <result column="attribute_category_name" property="attributeCategoryName" jdbcType="VARCHAR" />
        <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryList" resultMap="goodsMap">
        select * from ishop_goods
        where 1 = 1
        <if test="isNew != null and isNew != ''">
            and is_new = #{isNew}
        </if>
        <if test="isHot != null and isHot != ''">
            and is_hot = #{isHot}
        </if>
        <if test="brandId != null and brandId != ''">
            and brand_id = #{brandId}
        </if>
        <if test="name != null and name != ''">
            and `name` like concat('%',#{keyword},'%')
        </if>
        <if test="categoryId != null and categoryId != ''">
            and category_id = #{categoryId}
        </if>
        <if test="keyword != null">
            and keywords like concat('%',#{keyword},'%')
        </if>
        <if test="isDelete != null">
            and is_delete = #{isDelete}
        </if>
        <if test="isOnSale != null and isOnSale != ''">
            and is_on_sale = #{isOnSale}
        </if>
        <if test="categoryIds != null">
            and category_id in
            <foreach item="item" collection="categoryIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="goodsIds != null">
            and id in
            <foreach item="item" collection="goodsIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>

    <select id="queryHotGoodsList" resultMap="goodsMap">
        select a.*,b.id as product_id
        from ishop_goods a
        left join ishop_product b on a.id = b.goods_id
        left join ishop_product c on a.id = c.goods_id and c.retail_price > b.retail_price and b.id != c.id
        where 1 = 1 and b.id is not null and c.id is null and a.is_delete != 1
        <if test="isNew != null and isNew != ''">
            and a.is_new = #{isNew}
        </if>
        <if test="isHot != null and isHot != ''">
            and a.is_hot = #{isHot}
        </if>
        <if test="brandId != null and brandId != ''">
            and a.brand_id = #{brandId}
        </if>
        <if test="name != null and name != ''">
            and a.`name` like concat('%',#{keyword},'%')
        </if>
        <if test="categoryId != null and categoryId != ''">
            and a.category_id = #{categoryId}
        </if>
        <if test="keyword != null">
            and a.keywords like concat('%',#{keyword},'%')
        </if>
        <if test="categoryIds != null">
            and a.category_id in
            <foreach item="item" collection="categoryIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="goodsIds != null">
            and a.id in
            <foreach item="item" collection="goodsIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by a.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryCatalogProductList" resultMap="goodsMap">
        select a.id, a.name, a.list_pic_url, a.market_price, a.retail_price, a.goods_brief, b.id AS
        product_id,count(og.id) as order_num
        from ishop_goods a
        left join ishop_product b on a.id = b.goods_id
        left join ishop_product c on a.id = c.goods_id and c.retail_price > b.retail_price and b.id != c.id
        left join ishop_order_goods og on og.product_id = b.id
        <if test="isGroup != null and isGroup == true">
            left join ishop_goods_group gg on gg.goods_id = a.id
        </if>
        where 1 = 1 and b.id is not null and c.id is null and a.is_delete != 1
        <if test="isNew != null and isNew != ''">
            and a.is_new = #{isNew}
        </if>
        <if test="isHot != null and isHot != ''">
            and a.is_hot = #{isHot}
        </if>
        <if test="brandId != null and brandId != ''">
            and a.brand_id = #{brandId}
        </if>
        <if test="name != null and name != ''">
            and a.`name` like concat('%',#{keyword},'%')
        </if>
        <if test="categoryId != null and categoryId != ''">
            and a.category_id = #{categoryId}
        </if>
        <if test="keyword != null">
            and a.keywords like concat('%',#{keyword},'%')
        </if>
        <if test="isGroup != null and isGroup == true">
            and gg.id is not null
        </if>
        <if test="categoryIds != null">
            and a.category_id in
            <foreach item="item" collection="categoryIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="goodsIds != null">
            and a.id in
            <foreach item="item" collection="goodsIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        group by a.id, a.name, a.list_pic_url, a.market_price, a.retail_price, a.goods_brief, b.id
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by a.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
		select count(*) from ishop_goods
		where 1 = 1
        <if test="isDelete != null">
            and is_delete = #{isDelete}
        </if>
        <if test="isOnSale != null and isOnSale != ''">
            and is_on_sale = #{isOnSale}
        </if>
	</select>

    <select id="queryShopGoodsList" resultMap="BaseResultMap">
        select
        ishop_goods.id,
        ishop_goods.category_id,
        ishop_goods.goods_sn,
        ishop_goods.name,
        ishop_goods.brand_id,
        ishop_goods.goods_number,
        ishop_goods.keywords,
        ishop_goods.goods_brief,
        ishop_goods.goods_desc,
        ishop_goods.is_on_sale,
        ishop_goods.add_time,
        ishop_goods.update_time,
        ishop_goods.sort_order,
        ishop_goods.is_delete,
        ishop_goods.attribute_category,
        ishop_goods.counter_price,
        ishop_goods.extra_price,
        ishop_goods.is_new,
        ishop_goods.goods_unit,
        ishop_goods.primary_pic_url,
        ishop_goods.list_pic_url,
        ishop_goods.retail_price,
        ishop_goods.sell_volume,
        ishop_goods.primary_product_id,
        ishop_goods.unit_price,
        ishop_goods.promotion_desc,
        ishop_goods.promotion_tag,
        ishop_goods.app_exclusive_price,
        ishop_goods.is_app_exclusive,
        ishop_goods.is_limited,
        ishop_goods.is_hot,
        ishop_goods.market_price,
        ishop_goods.create_user_id,
        ishop_goods.create_user_dept_id,
        ishop_goods.update_user_id,
        ishop_category.name category_name,
        ishop_attribute_category.name attribute_category_name,
        ishop_brand.name brand_name
        from ishop_goods
        LEFT JOIN ishop_category
        ON ishop_goods.category_id = ishop_category.id
        LEFT JOIN ishop_attribute_category ON ishop_goods.attribute_category = ishop_attribute_category.id
        LEFT JOIN ishop_brand ON ishop_brand.id = ishop_goods.brand_id
        WHERE 1=1
        <!--  数据过滤  -->
        ${filterSql}
        <if test="name != null and name != ''">
            AND ishop_goods.name LIKE concat('%',#{name},'%')
        </if>
        AND ishop_goods.is_Delete = #{isDelete}
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by ishop_goods.id desc
            </otherwise>
        </choose>
    </select>

    <select id="queryShopTotal" resultType="int">
        select count(*) from ishop_goods WHERE 1=1
        <!--  数据过滤  -->
        ${filterSql}
        <if test="name != null and name != ''">
            AND name LIKE concat('%',#{name},'%')
        </if>
        AND ishop_goods.is_Delete = #{isDelete}
    </select>

    <select id="queryShopMaxId" resultType="java.lang.Integer" parameterType="map">
        SELECT MAX(id) FROM nideshop_goods
    </select>
</mapper>