<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seamwhole.servicetradecore.mapper.ext.OrderExtMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.seamwhole.servicetradecore.mapper.model.OrderDO" id="orderMap">
        <result property="id" column="id"/>
        <result property="order_sn" column="order_sn"/>
        <result property="user_id" column="user_id"/>
        <result property="order_status" column="order_status"/>
        <result property="shipping_status" column="shipping_status"/>
        <result property="pay_status" column="pay_status"/>
        <result property="consignee" column="consignee"/>
        <result property="country" column="country"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
        <result property="address" column="address"/>
        <result property="mobile" column="mobile"/>
        <result property="postscript" column="postscript"/>
        <result property="shipping_id" column="shipping_id"/>
        <result property="shipping_name" column="shipping_name"/>
        <result property="shipping_code" column="shipping_code"/>
        <result property="shipping_no" column="shipping_no"/>
        <result property="pay_id" column="pay_id"/>
        <result property="pay_name" column="pay_name"/>
        <result property="shipping_fee" column="shipping_fee"/>
        <result property="actual_price" column="actual_price"/>
        <result property="integral" column="integral"/>
        <result property="integral_money" column="integral_money"/>
        <result property="order_price" column="order_price"/>
        <result property="goods_price" column="goods_price"/>
        <result property="add_time" column="add_time"/>
        <result property="confirm_time" column="confirm_time"/>
        <result property="pay_time" column="pay_time"/>
        <result property="freight_price" column="freight_price"/>
        <result property="coupon_id" column="coupon_id"/>
        <result property="parent_id" column="parent_id"/>
        <result property="coupon_price" column="coupon_price"/>
        <result property="callback_status" column="callback_status"/>
        <result property="full_cut_price" column="full_cut_price"/>
    </resultMap>

    <select id="queryObject" resultMap="orderMap">
		select a.*,b.code as  shipping_code
		from nideshop_order a
		left join nideshop_shipping b on a.shipping_id = b.id
		where a.id = #{value}
	</select>

    <select id="queryList" resultMap="orderMap">
        select * from nideshop_order
        <where>
            <if test="user_id != null">
                and user_id = #{user_id}
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
		select count(*) from nideshop_order
	</select>

</mapper>