<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seamwhole.servicetradecore.mapper.ext.ShopCollectExtMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.seamwhole.servicetradecore.mapper.model.CollectDO" id="collectMap">
        <result property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="value_id" column="value_id"/>
        <result property="add_time" column="add_time"/>
        <result property="is_attention" column="is_attention"/>
        <result property="type_id" column="type_id"/>
        <result property="name" column="name"/>
        <result property="list_pic_url" column="list_pic_url"/>
        <result property="goods_brief" column="goods_brief"/>
        <result property="retail_price" column="retail_price"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.seamwhole.servicetradecore.model.ShopCollect" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="value_id" property="valueId" jdbcType="INTEGER" />
        <result column="add_time" property="addTime" jdbcType="INTEGER" />
        <result column="is_attention" property="isAttention" jdbcType="INTEGER" />
        <result column="type_id" property="typeId" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="value_name" property="valueName" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryList" resultMap="collectMap">
        select c.*,g.name, g.list_pic_url as list_pic_url, g.goods_brief as goods_brief, g.retail_price as retail_price
        from ishop_collect c
        left join ishop_goods g on c.value_id = g.id
        where 1 = 1
        <if test="user_id != null and user_id != ''">
            and c.user_id = #{user_id}
        </if>
        <if test="value_id != null and value_id != ''">
            and c.value_id = #{value_id}
        </if>
        <if test="type_id != null and type_id != ''">
            and c.type_id = #{type_id}
        </if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by c.id desc
            </otherwise>
        </choose>
    </select>

    <select id="queryShopCollectList" resultMap="BaseResultMap">
        select a.* , b.username as user_name,c.name as value_name
        from ishop_collect a
        left join ishop_user b on a.user_id = b.id
        left join ishop_goods c on a.value_id = c.id
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by a.id desc
            </otherwise>
        </choose>
    </select>

</mapper>